$background: url(../img/m-h-day.jpg);
$backgroundColor: #fff;
$buttonColor: #699900;
$highliteColor: #14a0c7;
$sectionColor: #252424;
$sectionBannerColor: linear-gradient(to right, #619119, #2b4b9a);
$footerColor: #252424;
$headerColor: #2e323b;
$mainFont:('Hind', sans-serif);

$section1Spacing:1px;
$section2Spacing:1px;
$section3Spacing:0.2px;
