$background: url(../img/m-h-night.jpg);
$backgroundColor: #21232e;
$buttonColor:#e3ac00;
$highliteColor: #ff4e33;
$sectionColor: #3b3f50;
$sectionBannerColor: linear-gradient(to right, #dca107,	#97334d);
$footerColor: #3b3f50;

// $fontHeader: ('Fresca', sans-serif);
$headerColor: white;
// $fontLogo: ('Fresca', sans-serif);
// $footerFont: ('Fresca', sans-serif);
$mainFont: ('Fresca', sans-serif);

$section1Spacing:-1px;
$section2Spacing:1px;
$section3Spacing:-1px;